


.grid_container{
display: grid;

width: 100%;
height: auto;
gap: 10px ;
justify-items: center;


}

.grid_container>article{
  display: grid;
  grid-template-columns: 30% 1fr 1fr;
  grid-template-rows: 1fr;
background-color:#E6E6E6;
border-radius: 20px;
width: 60%;
margin-top: 10px;
height: 100%;


}

.grid_container>article img{
  width:80%;
justify-self: start; 
align-self: start; 
padding-top: 15px;
margin-left: 10px;


}

.grid_container>article h4{
grid-row: 1 / 1;
grid-column: 2/2;
justify-self: center; 
}

.grid_container>article p{
  grid-row: 1 / 1;
  grid-column: 2/2;
  padding-top: 60px;
  justify-self: center; 
}

.grid_container>article button{
  grid-row: 1 / 1;
  grid-column: 2/2;
  padding-top: 50px;
  justify-self: end;
  margin: auto;
  margin-right: -55px;
  padding: 10px;
width: 35px;
height: 35px;
}

